
<!DOCTYPE html>
<html>


<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <% include ./partials/header %>
</head>

<body>
  <!-- Navigation-->
  <% include ./partials/main_nav %>
  <!-- Main content -->
  <main class="container">
    <div class="jumbotron">
      <!-- <h1 class="display-4">Hi !! I'm Nikil </h1> -->
      <div class="indexText" >
        <div>
          <p> Hi !! I'm Nikil </p> <br />
          <p>Welcome to my profolio site</p>
          <p>I'm a web and server Developer , intrested in Learning new things About Technology</p>
        </div>
        <div>
            <br />
            <a href="/about">  
            
              <button type="button" class="btn btn-primary"> About Me </button>
              
            </a>
            
        </div>
      </div>
    </div>
  </main>
  <% include ./partials/bottom_nav %>
  <!-- js styles -->
  
      <!--Footer-->
    <% include ./partials/footer %>

</body>
</html>