
<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <% include ./partials/header %>
</head>
<body>
  <!-- Navigation-->
  <% include ./partials/main_nav %>
  <!-- Main content -->
  <main class="container">
    <div class="row serviceDiv">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
    
            <div class="card" style="width: 18rem;">
            <img src="Assets/Images/DM.png" />
            <h5 class="card-title"> Digital Marketing</h5>
              <div class="card-body">
                <p class="card-text"> I worked in a start Up , where i need to the improve the SEO of the Site for more search Results 
                and also have promote  the product in Google , FaceBook and linkedin adsense. I also worked with Email Marketing Team
                To increase the Sales Based on the user Emails.  </p>
              </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          
            <div class="card" style="width: 18rem;">
            <img src="Assets/Images/web_dev.png" />
            <h5 class="card-title">Web Development</h5>
              <div class="card-body">
                <p class="card-text"> I Developed A few Web Applications using Reactjs as FrontEnd and Nodejs for Backend . 
                I always prefer AWS for hosting the Applications as it provides Everything to Run the Application
                 Smoothly with Less configuration. </p>
              </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
         
            <div class="card" style="width: 18rem;">
            <img src="Assets/Images/Testing.png" />
            
              <div class="card-body">
                <p class="card-text"> I worked for Some Time for Testing The Applications like performance Testing, Load Testing, Manal Testing. 
                and Regression Testing . we did such Type of Testing in Order for the Application To Run in a scalable Manner. </p>
              </div>
          </div>
        </div>
    </div>
  </main>
  <% include ./partials/bottom_nav %>
  <!-- js styles -->
  
      <!--Footer-->
    <% include ./partials/footer %>

</body>
</html>